@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*alta yer alan kod html içinde yeralan margin boşluklarını sıfırlamaya yarıyor.*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	/*Tableın boşluklarını sıfırlıyoruz.*/

}
.yuzdeyuz{
	width: 100%;
	float: left;
}
.width-1200{
	width: 1200px;
	margin:auto;
}
.width-285{
	width: 285px;
	float: left;

}
.bg-article{
	background-image: url("../images/article-bg.png");
	background-size: cover;
	/*görselin bulunduğu kutuya göre boyut kazanmasını sağlıyor */
	padding: 24px 16px;
	background-position: top center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	/*Hem borderü hemde padding değerini kutudan almayı sağlıyor*/

}
.bg-article h3{
	text-align: center;
}
.header-upper{
	margin: 12px 0;
	font-weight: 700;
	text-transform: uppercase;
}
.width-285 p{
	text-align: justify;
	margin-bottom: 5px;
	text-indent: 15px;
}
.clean{
	clear: both;
	/*	öncesinde gelen margin auto ve float değerlerini sıfırla demek*/
}
.mrg-right{
	margin-right: 20px;
}
.mrg-bottom{
	margin-bottom: 20px;
}
.img-285{
	width: 285px;
	height: auto;
}
.deco{
	background-image: url("../images/dotted.png");
	width: 100%;
	height: 5px;
	margin: 12px 0px;
}
.bg-article a{
	float: right;
	text-decoration: none;
	color: red;
	font-size: 14px;
}
nav{
	background-image: url("../images/header-bg.jpg");
	padding: 8px 0;
}
nav ul{
	float: right;
	display: block;
	margin-top: 4px;
}
nav ul li{
	float: left;
	list-style-type: none;
}
nav ul li a{
	text-decoration: none;
	color: aliceblue;
	padding: 0px 16px;
	height: 30px;
	line-height: 30px;
	display: block;
	/*liste elemnının ve anın kutuya dönüşmesini sağlıyoruz buda arka plan renginin verdigimiz width ve haight değerine göre boyut kazanmasını sağlıyor	*/
	border-radius: 15px;
}
nav ul li a:hover, .active{
	background-color: black;
	border-radius: 15px;
	color: orange;
	transition: ease 1s;
}
.menu-line{
	background-image: url("../images/btn-right.png");
	width: 2px;
	height: 29px;
	float: left;
	margin: 1px 12px;
}
.search{
	width: 120px;
	height: 24px;
	border-radius: 16px;
	background-color: #1A1A1A;
	color: white;
	background-image: url("../images/search-icon.png");
/*	büyüteç iconunu ekledik*/
	background-repeat: no-repeat;
/*	iconun tekrar etmemesini saladık*/
	background-position: 6px center;
/*	iconun konumunu belirledik*/
	text-indent: 20px;
/*	placeholder metnin konumunu belirledik*/
}
footer{
	background-image: url("../images/footer-bg.jpg");
	margin-top: 24px;
	color: white;
	padding: 16px 0;
}

footer h3{

	text-align: center;
	text-transform: uppercase;
}







